
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  padding: 20px 40px;
  background-color: #eee;
}


h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 20px;
  color: #aaa;
}

#myDiagramDiv {
  width:90%;
  height:400px;
  margin: 10px;
  border-radius: 10px;
  /* resize: vertical;
  overflow: scroll;
  bottom: 14px; */
  box-shadow: 5px 10px #888888;
  background-color: #F8F8FF;
  background-image: url(https://img.freepik.com/free-photo/watercolor-paper-texture_1194-5416.jpg?size=626&ext=jpg);

}



/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Clear floats */
.row:after {
  content: "";
  display: table;
   clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
}

.textbox {
  border: 10px solid green;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  min-height: 100px;
  box-shadow: 5px 10px #888888;
  background: #F8F8FF;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
    /* text-indent: -1.2em; */
}

li:before {
    content: "►";
    display: block;
    float: left;
    width: 1.2em;
    color: #ff0000;
}

/* ul {
  list-style: none;
}
li {
  background: url(img/arrow-bullet.png) no-repeat top left;
  background-size: 8px;
  padding: 0 0 0px 12px;
  background-position: 0 5px;
  /* line-height: 1.5625;
  margin-left: 1em; *
} */

.current-family {
  border: 4px outset #ddd;
  /* box-shadow: 5px 10px #888888; */
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Apple Chancery', sans-serif;
  background-color: #F8F8FF;
  background-image: url(https://img.freepik.com/free-photo/watercolor-paper-texture_1194-5416.jpg?size=626&ext=jpg);
  /* background-image: url(https://i.pinimg.com/236x/59/89/89/598989ef43d145e308287588976ca8a9.jpg); */
}


.btn {
  background:    #3d85c6;
  background:    linear-gradient(#3d85c6, #073763);
  border: 1px solid transparent;
  border: 0.1em solid #000000;
  border-radius: 5px;
  height: 35px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  margin-bottom: 10px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px  -2px 0px rgba(0,0,0,.5);
  /* text-transform: uppercase; */

  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;


  vertical-align: middle;
    user-select: none;

  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.btn:hover {
  /* color: rgba(255, 255, 255, 0.562); */
  background: linear-gradient(#85b3db, #466685);
}

.btn:active {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  transform: translate(0, 4px);


  -webkit-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

}





